<!-- Begin Purple Belt Coding Ninja HTML -->
<!DOCTYPE html>

<!-- What language do we speak? -->
<html lang="en">

<!-- Head Info Here -->
<head>

    <!-- Meta Info -->
    <meta charset="UTF-8">

    <!-- Description of Web Page Info -->
    <meta name="description" content="Eat Da Burger">

    <!-- Keywords of Web Page  Info -->
    <meta name="keywords" content="Eat Da Burger, Eat, Da, Burger">

    <!-- Who is this guy and why is his name here? -->
    <meta name="author" content="Kevin Gulledge">

    <!-- This might be important -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Name of the page -->
    <title>Eat Da Burger</title>

    <!-- CSS Reset -->
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css">

    <!-- Bootstrap CSS Link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Personalized CSS Link -->
    <link rel="stylesheet" type="text/css" href="../public/assets/css/burger_style.css">

    <!-- Google Font Link -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


</head>

	<!-- Begin Body -->
	<body>
		
		{{{ body }}}
	
	</body>

</HTML>